<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mad_lab3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".reservation.ReservationActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".restaurant.RestaurantActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".common.photo_viewer.PhotoViewActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".restaurant.ChoosePhotoActivity" android:theme="@style/Theme.Transparent"></activity>
    </application>

</manifest>